body{
    font-family: 'open sans';
}

.devpage {  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 320px 1fr 1fr 1fr 320px;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "devtop devtop devtop"
      "webdev webdev webdev"
      "webapp webapp webapp"
      "mobile mobile mobile"
      "devbot devbot devbot";
  }
  
  .devbot { 
      grid-area: devbot;
      background-image: url(./img/botgreen.svg);
      background-size: cover;
    }
  
  .devtop { 
      grid-area: devtop; 
      background-image: url(./img/topgreen.svg);
      height: 100px;
      background-position: 50% 50%;
    }
  
  .webdev { grid-area: webdev; }
  
  .webapp { grid-area: webapp; }
  
  .mobile { grid-area: mobile; }
  
#contact{
    background-color: #b0c49c;
    height: 100vh;
}

.footer{
    background-color: #5E8932;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    font-family: 'open sans';
    color:#fff;
    font-weight: bold;
    position: absolute;
    bottom: 0;
}

.logo{
    height: 40px;
    margin-top: 20px;
}

.button{
    background-color: #5E8932;
    color: #fff;
    border-radius: 8px;
    padding: 15px;
    filter: drop-shadow(5px 10px 4px rgba(0, 0, 0, 0.4));
}

.contactbtn{
    background-color: #5E8932;
    color: #fff;
    border-radius: 8px;
    padding: 15px;
    width: 477px;
    height: 88px;
    filter: drop-shadow(5px 10px 4px rgba(0, 0, 0, 0.4));
    font-size: 40px;
    margin-top: 300px;
    margin-left: 250px;
}
.contactimg{
    float: right;
    margin-top: 300px;
}
/* Add a black background color to the top navigation */
.navbar {
    height: 100px;
    background-color: #fff;
    overflow: hidden;
    font-family: 'open sans';
  }
  
  /* Style the links inside the navigation bar */
  .navbar a {
    color: #000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
  }
  
  /* Change the color of links on hover */
  .navbar a:hover {
    color: #5E8932;
  }
  
  /* Add a color to the active/current link */
  .navbar a.active {
    background-color: #fff;
    color: #5E8932;
  }

  .aboutpg {  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "webdev webdev photo1"
      "photo2 webapp webapp"
      "mobiledev mobiledev photo3";
  }
  
  .webdev { grid-area: webdev; }
  
  .photo1 { grid-area: photo1; }
  
  .photo2 { grid-area: photo2; }
  
  .webapp { grid-area: webapp; }
  
  .mobiledev { grid-area: mobiledev; }
  
  .photo3 { grid-area: photo3; }
  
  .floatright{
      float: right;
      margin-top: 25px;
      margin-right: 20px;
  }
  /*home page grid */
  .container {  display: grid;
    justify-content: center;
    align-content: center;
    font-family: arial;
    grid-template-columns: 1fr auto auto;
    grid-template-rows: 1fr auto auto;
    gap: 0px 0px;
    grid-template-areas:
      "Photo Text Text"
  }
  
  .Photo { 
      grid-area: Photo;
      justify-content: center;
      align-content: center;
    }

    .homeimage{
        height: 600px;
    }
  
  .Text { grid-area: Text;
    align-items:center;
    text-align: center;
    }
    
    .Text h1{
        font-size: 25px;
    }

    .webdevwords{
        height: 300px;
        width: 400px;  
        margin-top: -300px;
        margin-left: 200px;
    }

    .devpage h2{
        text-align: center;
    }

    .webdevimg{
        height: 400px;
        float: right;
    }

    .greenwebdev{
        width: 300px;
        margin-left: 300px;
    }

    .greenwebapp{
        float: right;
        margin-top: 150px;
        margin-right: 100px;
    }

    .webappwords{
        margin-top: -400px;
        width: 300px;
        margin-left: 1400px;
    }
  
    /* media queries for tablet*/
    @media screen and (min-width: 768px) and (max-width: 991px) {
    }

    /*media querie for phone*/
    @media screen and (max-width: 767px) {

    }
