.logo{
    height: 40px;
    margin-top: 20px;
}

.button{
    background-color: #5E8932;
    color: #fff;
    border-radius: 8px;
    padding: 15px;
    filter: drop-shadow(5px 10px 4px rgba(0, 0, 0, 0.4));
}

/* Add a black background color to the top navigation */
.navbar {
    height: 100px;
    background-color: #fff;
    overflow: hidden;
    font-family: 'arial';
  }
  
  /* Style the links inside the navigation bar */
  .navbar a {
    color: #000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .navbar a:hover {
    color: #5E8932;
  }
  
  /* Add a color to the active/current link */
  .navbar a.active {
    background-color: #fff;
    color: #5E8932;
  }

  /*home page grid */
  .container {  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "Photo Text ."
      ". . ."
      ". . .";
    margin: auto;
    text-align: center;
  }
  
  .Photo { 
      grid-area: Photo;
    }
  
  .Text { grid-area: Text;

    }
  