.logo{
    height: 40px;
    margin-top: 20px;
}

/* Add a black background color to the top navigation */
.navbar {
    height: 100px;
    background-color: #fff;
    overflow: hidden;
    font-family: 'arial';
  }
  
  /* Style the links inside the navigation bar */
  .navbar a {
    color: #000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .navbar a:hover {
    color: #5E8932;
  }
  
  /* Add a color to the active/current link */
  .navbar a.active {
    background-color: #fff;
    color: #5E8932;
  }

  .aboutpg {  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "webdev webdev photo1"
      "photo2 webapp webapp"
      "mobiledev mobiledev photo3";
  }
  
  .webdev { grid-area: webdev; }
  
  .photo1 { grid-area: photo1; }
  
  .photo2 { grid-area: photo2; }
  
  .webapp { grid-area: webapp; }
  
  .mobiledev { grid-area: mobiledev; }
  
  .photo3 { grid-area: photo3; }
  